.abt-sub-1 {
    margin-bottom: 20px;
}

.abt-desc {
    color: var(--blue-gray);
}

/* Image */
.img-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-box-blue {
    width: 120px;
    height: 150px;
    position: absolute;
    right: 80px;
    top: 10px;
    background: var(--blue);
    border-radius: 0px 40px 0px 0px;
    z-index: 10;
}

.img-box-green {
    width: 110px;
    height: 130px;
    position: absolute;
    left: 50px;
    bottom: 0;
    background-color: green;
    z-index: 30;
    background: var(--green);
    opacity: 0.4;
    border-radius: 0px 0px 0px 40px;
}

.img-box-white {
    width: 400px;
    height: 300px;
    background: #ffffff;
    box-shadow: 0px 0px 32px rgba(130, 130, 130, 0.2);
    border-radius: 24px;
    position: absolute;
    top: auto;
    bottom: auto;
    z-index: 20;
    padding: 10px;
}

.img-box-in-gray {
    background: rgba(130, 130, 130, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* CGPU People */
.ppl-cgpu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards-main {
    padding: 10px;
    justify-content: center;
}

.cards-each {
    width: 260px;
    padding: 20px 10px;
}

.cards-in {
    width: 95%;
    height: 280px;
    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(130, 130, 130, 0.16);
    border-radius: 12px;
    margin-right: 5px;
    transition: transform 0.3s;
}

.cards-in:hover {
    transform: scale(1.2);
}

.img-bg {
    width: 100%;
    height: 185px;
    background: var(--blue-gray);
    opacity: 0.5;
    border-radius: 12px;
}

.item-name {
    color: var(--dark);
}

.item-pos {
    color: var(--blue-gray);
    font-size: 12px;
}

.item-mail {
    color: var(--blue);
    font-size: 12px;
}
