.abt-sub-1 {
    margin-bottom: 20px;
}

.abt-desc {
    color: var(--blue-gray);
}

/* Image */
.img-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-box-blue {
    width: 120px;
    height: 150px;
    position: absolute;
    right: 80px;
    top: 10px;
    background: var(--blue);
    border-radius: 0px 40px 0px 0px;
    z-index: 10;
}

.img-box-green {
    width: 110px;
    height: 130px;
    position: absolute;
    left: 50px;
    bottom: 0;
    background-color: green;
    z-index: 30;
    background: var(--green);
    opacity: 0.4;
    border-radius: 0px 0px 0px 40px;
}

.img-box-white {
    width: 400px;
    height: 300px;
    background: #ffffff;
    box-shadow: 0px 0px 32px rgba(130, 130, 130, 0.2);
    border-radius: 24px;
    position: absolute;
    top: auto;
    bottom: auto;
    z-index: 20;
    padding: 10px;
}

.img-box-in-gray {
    background: rgba(130, 130, 130, 0.5);
    width: 100%;
    height: 280px;
    border-radius: 20px;
}

/* CGPU People */
.ppl-cgpu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards-main {
    padding: 10px;
    justify-content: center;
    /* background-color: lawngreen; */
    margin-top: 4.5rem;
}

.cards-each {
    width: 260px;
    padding: 20px 10px;
    margin-bottom: 3.5rem;
}

.cards-in {
    width: 100%;
    height: 200px;
    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(130, 130, 130, 0.16);
    border-radius: 12px;
    margin-right: 5px;
    transition: transform 0.3s;
    /* background-color: lawngreen; */
    position: relative;
}

.cards-in:hover {
    transform: scale(1.1);
}

.img-bg {
    width: 240px;
    height: 240px;
    /* background: var(--blue-gray); */
    /* opacity: 0.85; */
    border-radius: 12px;
    transition: all 0.3s;
    position: relative;
    filter: grayscale(1);
}

.cards-in:hover .img-bg {
    opacity: 1;
    filter: none;
    transition: all 0.3s;
}

.item-name {
    color: var(--dark);
    font-weight: 500;
    text-align: left;
}

.item-pos {
    color: var(--blue-gray);
    font-size: 12px;
    text-align: left;
}

.item-mail {
    color: var(--blue);
    font-size: 12px;
    text-align: left;
}

.rep-img {
    width: 180px;
    height: 180px;
    border-radius: 12px;
    position: absolute;
    top: -70px;
    left: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-box {
    /* background-color: lightcoral; */
    position: absolute;
    text-align: left;
    margin-left: 20px;
    padding: 10px;
    width: 200px;
    height: 70px;
    bottom: 7px;
    justify-content: start;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    width: 14rem;
    margin: 0.6rem 0.5rem;
    transition: all 0.3s;
    position: relative;
}

.card-item:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    filter: none;
}

.card-text {
    padding: 7rem 0 0.75rem;
    background: white;
    box-shadow: 0px 0px 16px rgba(130, 130, 130, 0.16);
    border-radius: 0.75rem;
    min-height: 13rem;
}

.card-text.rep {
    min-height: 12rem;
}

.card-blank {
    height: 3rem;
    margin: 0.75rem 1rem;
}

.card-img {
    width: 80%;
    height: 11.2rem;
    background: var(--blue-gray);
    border-radius: 0.75rem;
    position: absolute;
    top: 0;
    left: 10%;
    filter: grayscale(0.7) brightness(1.2);
    transition: all 0.3s;
}

.card-item:hover .card-img {
    filter: none;
}

.card-overlay {
    background-color: var(--blue);
    height: 11.2rem;
    position: absolute;
    width: 80%;
    left: 10%;
    opacity: 0.25;
    z-index: 1;
    border-radius: 0.75rem;
    transition: all 0.3s;
}

.card-item:hover .card-overlay {
    opacity: 0;
    transition: all 0.3s;
}

.card-title {
    color: var(--dark);
    font-weight: 500;
    text-align: left;
    margin: 0.3rem auto 0.1rem;
    width: 80%;
}

.card-subtitle {
    color: var(--blue-gray);
    font-size: 12px;
    text-align: left;
    width: 80%;
    margin: auto;
    /* height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.card-mail {
    color: var(--blue);
    font-size: 12px;
    text-align: left;
    width: 80%;
    margin: auto;
    display: block;
}

.ali {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* align-items: center; */
}

.padd-right {
    padding-right: 20px;
    padding-left: 20px;
}

@media screen and (max-width: 1192px) {
    .padd-right {
        padding-right: 0;
    }

    .ali-left {
        padding-left: 1rem;
    }

    .ali {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
}

@media (min-width: 1192px) and (max-width: 1196px) {
    .ali-left .cards-container {
        flex-wrap: nowrap;
    }
}

.more-btn {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--blue);
    padding: 0.4rem 0.5rem;
    margin-top: 1.2rem;
}

.more-btn:hover {
    color: #0a58ca;
}
