.address {
    height: 350px;
    background: white;
    box-shadow: 0px 0px 24px rgba(130, 130, 130, 0.16);
    border-radius: 12px;
    margin-right: 50px;
    margin-left: 70px;
    border-top: 10px solid var(--blue);
    text-align: center;
    padding: 5vh;
    color: var(--dark);
    font-size: 16px;
}

.contac {
    margin-right: 50px;
    margin-left: 50px;
    height: 350px;
    background: white;
    box-shadow: 0px 0px 24px rgba(130, 130, 130, 0.16);
    border-radius: 12px;
    border-top: 10px solid var(--green);
    font-size: 16px;
    text-align: center;
    padding: 5vh;
}

.contact-main {
    padding: 4% 10% 2%;
}

.main {
    padding-top: 40px;
}

.reach {
    text-align: center;
    color: var(--blue);
    margin-top: 7vh;
    margin-bottom: 5vh;
    font-size: 30px;
    font-weight: 600;
}

.map {
    height: 438px;
    background-color: blue;
    border-radius: 24px;
    margin-bottom: 100px;
}

.p-main {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.phone {
    font-weight: 600;
    color: var(--dark) !important;
}

.phone:hover {
    text-decoration: none;
}
