.address {
    height: 100%;
    background: white;
    box-shadow: 0px 0px 24px rgba(130, 130, 130, 0.16);
    border-radius: 12px;
    border-top: 10px solid var(--blue);
    text-align: center;
    color: var(--dark);
    font-size: 16px;
    cursor: auto;
}

.contac {
    height: 100%;
    background: white;
    box-shadow: 0px 0px 24px rgba(130, 130, 130, 0.16);
    border-radius: 12px;
    border-top: 10px solid var(--green);
    font-size: 16px;
    text-align: center;
    cursor: auto;
}

.reach {
    text-align: center;
    color: var(--blue);
    margin: 2rem 0;
    font-size: 30px;
    font-weight: 600;
}

.map {
    height: 25rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.p-main {
    padding: 1rem 0;
    color: var(--blue-gray);
}

.phone {
    font-weight: 600;
    color: var(--dark) !important;
}

.phone:hover {
    text-decoration: none;
}

.address p,
.contac p {
    color: var(--blue-gray);
}
