.brochure-info {
    background: var(--light-blue);
    padding: 1% 8%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    color: var(--blue-gray);
}

.download {
    font-weight: 600;
    color: var(--blue);
    white-space: nowrap;
    width: max-content;
}

.brochure-info img {
    margin: 0 0.5rem 0.15rem 0;
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.2;
    height: 0.05rem;
}

footer {
    background-color: var(--blue);
    color: white;
    padding: 3.5% 8% 2.5%;
    display: flex;
    flex-direction: column;
}

footer p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #ffffffbf;
}

footer h2 span:nth-child(1) {
    font-weight: 700;
}

footer h2 span:nth-child(2) {
    color: var(--green);
    font-weight: 500;
}

.footer-container a {
    color: #ffffffbf;
    display: block;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
    font-weight: 300;
    transition: 0.15s;
    width: fit-content;
}

.footer-container a:hover {
    color: white;
    text-decoration: none;
    transition: 0.15s;
}

.contact .footer-adr {
    font-weight: 300;
    font-size: 0.9rem;
    color: #ffffffbf;
}

.contact span {
    color: #ffffffbf;
    font-size: 0.9rem;
    font-weight: 300;
}

.contact a {
    display: inline;
    font-size: 1rem;
    color: white;
    font-weight: 300;
    user-select: text;
}
