.navbar {
    padding: 2% 8%;
    background: #fafafa;
    transition: 0.5s;
}

header.scrolled {
    background: white;
    box-shadow: 0 0 0.5rem rgba(130, 130, 130, 0.16);
    transition: 0.5s;
}

header a span {
    vertical-align: center;
    font-size: 2rem;
}

header a:hover {
    text-decoration: none;
}

header a span:nth-child(1) {
    color: var(--blue);
    font-weight: 700;
}

header a span:nth-child(2) {
    color: var(--green);
    font-weight: 500;
}

header nav a,
header .dropdown-toggle {
    color: var(--dark) !important;
    font-weight: 600 !important;
    padding: 1rem;
    background: transparent !important;
}

header .btn {
    background: var(--blue);
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: 0.15s;
}

header a:hover,
.dropdown-toggle:hover {
    color: black !important;
    transition: 0.15s;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    box-shadow: 0 0 0.5rem rgba(130, 130, 130, 0.16);
    border: none;
    border-radius: 0.66rem;
    padding: 0.5rem;
}

.dropdown-menu a,
.dropdown-menu button {
    display: block;
    padding: 0.5rem 0.66rem;
    border-radius: 0.5rem;
    transition: 0.15s;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover,
.dropdown-menu .active {
    background: var(--light-blue) !important;
}

.m-neg {
    margin-right: -1rem;
}

header nav a.active,
.dropdown-toggle.active {
    color: var(--blue) !important;
}

.dropdown.d-flex.d-lg-inline,
nav > a {
    width: fit-content;
}

.navbar-toggler:focus {
    box-shadow: none;
}

button.navbar-toggler.collapsed {
    background: url("../images/nav.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: -10px;
    transition: 0.5s;
}

button.navbar-toggler {
    background: url("../images/dismiss.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: -10px;
    transition: 0.5s;
}

.navbar-toggler:hover,
.navbar-toggler.collapsed:hover {
    filter: brightness(0);
}
.drop-set ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0;
    margin-bottom: 0;
}
