.homepage{
    padding: 1% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}
.firstabt{
    width: 90vw;
    padding: 10px;
    margin-bottom: 20px;
}

.desc{
    color: #828282;
}
.learnbtn{
    background: var(--blue);
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: 0.15s;
    border: none;
}
.learnbtn:focus{
    box-shadow: none;
}

.dwnld{
    padding:0% 4%;
    color: #1F7AE0;
}

/* .vm{

} */
.bluebox{
    background: #1F7AE0;
    color: white;
    padding: 3% 7%;
    margin: 3% 0%;
    font-size: 18px;
    border-radius: 16px;
}
.bigno{
    font-size: 27px;
}

.midheading{
    font-size: 36px;
    color: #4F4F4F;
    padding: 2% 0%;
}

.bluelayer{
    background: #DBEAFA;
    /* margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 3%; */
    margin: 3% 14%;
    overflow: hidden;
    border-radius: 12px;
    position:relative;
    padding: 20% 0%;
}
.eye{
    object-fit: cover;
    opacity: 0.8;
    padding-left: 25%;
}
.text{
    color:  #7A8193;
  
}
.missionpara{
    text-align: right;
}