.page-head {
    color: var(--dark);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.cet-logo {
    mix-blend-mode: darken;
}

.homepage {
    padding: 4% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}
.firstabt {
    width: 90vw;
    padding: 10px;
    margin-bottom: 20px;
}

.desc {
    color: #828282;
}
.learnbtn {
    background: var(--blue);
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: 0.15s;
    border: none;
}
.learnbtn:focus {
    box-shadow: none;
}

.dwnld {
    padding: 0% 4%;
    color: #1f7ae0;
}

/* .vm{

} */
.bluebox {
    background: #1f7ae0;
    color: white;
    padding: 3% 7%;
    margin: 3% 0%;
    font-size: 18px;
    border-radius: 16px;
}
.bigno {
    font-size: 27px;
}

.midheading {
    font-size: 36px;
    color: #4f4f4f;
    padding: 2% 0%;
    text-align: center;
}

.bluelayer {
    background: #dbeafa;
    /* margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 3%; */
    margin: 3% 14%;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    padding: 20% 0%;
}
.eye {
    object-fit: cover;
    opacity: 0.8;
    padding-left: 25%;
}
.text {
    color: #7a8193;
}
.missionpara {
    text-align: right;
}

.objectives {
    background-color: var(--light-blue);
    border-radius: 12px;
    text-align: center;
    padding: 50px 25px;
    width: 300px;
    height: 250px;
}

.objectives-title {
    color: var(--blue);
    margin-bottom: 5%;
    font-weight: 600;
}

.objectives-content {
    color: var(--dark);
    opacity: 0.8;
}
