.btn:hover {
    color: white;
    background: var(--dark-blue);
}

.main-container {
    padding: 1% 8% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-head {
    color: var(--dark);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.title {
    max-width: 25rem;
}

.cet-logo {
    mix-blend-mode: darken;
}

.desc {
    color: var(--blue-gray);
}

.learnbtn {
    background: var(--blue);
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: 0.15s;
    border: none;
}

.learnbtn:focus {
    box-shadow: none;
}

.dwnld {
    padding: 0% 4%;
    color: var(--blue);
}

.vm {
    width: 90%;
    margin: auto;
}

h4 {
    color: var(--dark);
}

.bluebox {
    background: var(--blue);
    color: white;
    padding: 3% 7%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border-radius: 16px;
}

.bigno {
    font-size: 27px;
}

.midheading {
    font-size: 36px;
    color: var(--dark);
    padding: 2% 0%;
    text-align: center;
}

.bluelayer {
    background: var(--light-blue);
    width: 9rem;
    height: 8rem;
    border-radius: 12px;
    display: flex;
    margin: auto;
}

.eye {
    object-fit: cover;
    margin: auto;
}

.text {
    color: var(--blue-gray);
}

.missionpara {
    text-align: right;
}

/* .obj-main{
    transition: transform 0.3s;
    background: rgba(255, 255, 255, 0);
    border-radius: 24px;
}
.obj-main:hover{
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 24px rgba(130, 130, 130, 0.16));
    box-shadow: 0px 0px 16px rgba(130, 130, 130, 0.16);
    
} */

.objectives {
    background-color: var(--light-blue);
    border-radius: 12px;
    text-align: center;
    padding: 50px 25px;
    height: 100%;
    transition: all 0.3s;
}

.objectives:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 24px rgba(130, 130, 130, 0.16));
    background: white;
}

.objectives-title {
    color: var(--blue);
    margin-bottom: 5%;
    font-weight: 600;
}

.objectives-content {
    color: var(--blue-gray);
}

/* ScrollBar custom */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--light-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
}
