@import "./typography.css";

body {
    margin: 0;
    font-family: "Mazzard H", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --blue: #1f7ae0;
    --green: #2ecc71;
    --light-blue: #dbeafa;
    --dark: #4f4f4f;
    --dark-blue: #1861b4;
    --blue-gray: #7a8193;
    background: #fafafa;
    overflow-y: scroll;
}

img {
    pointer-events: none;
    user-select: none;
}

a {
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}
