.head-desc.placement {
    max-width: 60rem;
}

.chart-container {
    background-color: white;
    padding: 5%;
    border-radius: 16px;
    margin: 0 auto;
    width: 70%;
    box-shadow: 0px 0px 24px rgba(130, 130, 130, 0.16);
}

.table-responsive {
    cursor: initial;
}

.table-tagline {
    font-size: 24px;
    color: var(--blue);
    font-weight: 600;
    text-align: center;
}

.placement-year {
    color: var(--dark);
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
}

.placement-year:hover {
    background: transparent;
}

.placement-year img {
    width: 1rem;
    vertical-align: 0.45rem;
    transition: 0.15s;
}

button.placement-year:hover > img {
    filter: brightness(0);
    transition: 0.15s;
}

.table-tagline .dropdown-menu {
    max-height: 15rem;
    overflow: auto;
}

.table-tagline .dropdown-menu button {
    width: 100%;
    text-align: start;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--dark);
}

.table-tagline .dropdown-menu button:hover {
    color: black;
}

.table-tagline .dropdown-menu .active {
    color: var(--blue) !important;
}

.table-responsive {
    max-width: 40rem;
}

.table-responsive > div {
    border: 2px solid rgba(31, 122, 224, 0.3);
    border-radius: 1rem;
    background: white;
    margin-bottom: 1rem;
    min-width: max-content;
    overflow: hidden;
}

.placement-table thead {
    background: var(--light-blue);
    color: var(--blue);
    font-size: 16px;
    height: 4.5rem;
    vertical-align: middle;
}

.placement-table {
    text-align: left;
}

/* .placement-table thead th:nth-child(2),
.placement-table tbody tr th + td {
    text-align: left;
} */

.placement-table > tbody > tr:nth-child(odd) {
    --bs-table-accent-bg: white;
}

.placement-table > tbody > tr:nth-child(even) {
    --bs-table-accent-bg: rgba(219, 234, 250, 0.5);
}

.placement-table tbody tr:last-child th {
    border-radius: 0 0 0 0.75rem;
}

.placement-table thead th:first-child {
    border-radius: 0.75rem 0 0 0;
    text-align: left;
}

.placement-table thead th:last-child {
    text-align: center;
}

.placement-table tbody tr:last-child td:last-child {
    border-radius: 0 0 0.75rem 0;
}

.placement-table tbody tr td:last-child {
    text-align: center;
}

.placement-table thead th:last-child {
    border-radius: 0 0.75rem 0 0;
}

.placement-table thead tr {
    border-style: hidden;
}

.placement-table tbody tr {
    color: var(--blue-gray) !important;
    height: 3.5rem;
    vertical-align: middle;
    border-style: hidden;
}

@media (max-width: 576px) {
    .chart-container {
        width: 100%;
    }
}
