.head-desc {
    font-size: 15px;
    color: var(--blue-gray);
    margin-bottom: 20px;
}

.head-desc-main {
    margin-bottom: 20px;
}

.r-card-main {
    padding: 10px;
}

.r-cards-each {
    width: 260px;
    height: 250x;
    padding: 20px 10px;
    margin-top: 60px;
}

.r-cards-in {
    height: 160px;
    background: var(--light-blue);
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-round {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 100%;
    border: var(--light-blue) 2px solid;
    position: absolute;
    top: -50px;
    left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rec-logo {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.company-desc {
    text-align: center;
}

.item-company {
    color: var(--dark);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
}

.item-url {
    color: var(--blue-gray);
    font-size: 16px;
    line-height: 19px;
}

.item-url:hover {
    color: var(--blue);
}

.item-logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile-item {
    width: 16.5rem;
    height: 5rem;
    margin: 0.6rem 0.5rem;
    background: var(--light-blue);
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
}

.tile-item:hover {
    transform: scale(1.07);
    transition: all 0.3s;
    background: white;
    filter: drop-shadow(0px 0px 24px rgba(130, 130, 130, 0.16));
}

.tile-title {
    color: var(--dark);
    font-weight: 500;
    font-size: 1.1rem;
    word-break: break-all;
}

.tile-logo {
    background: white;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: var(--light-blue) 2px solid;
    margin-right: 1rem;
    transition: all 0.3s;
}
